header{
    text-align: center;
    color: #8C5642;
}
body{
    background-image: url(/pecana1.jpg);
    font-size: xx-large;
    font-family: "Kalam" , cursive;
}
h1{
    color: #A64F1C;
    text-align: center;
}
p{
    text-align: center;
    color: #0F080D;
}
h2{
    text-align: center;
    color: #A64F1C;
}
h3{
    text-align: center;
    color: #A64F1C;
}